body {
  background-image: url(./img/anhnen.jpg);
  background-size: cover;
}
div {
  background-color: rgba(204, 57, 140, 0.351);
  margin-top: 250px;
  margin: auto;
  width: 200px;
  height: 410px;
  text-align: center;
  margin: 200px auto 200px;
  text-shadow: 20px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
}
img {
  border-radius: 80%;
  height: 70px;
  width: 70px;
  display: inline-block;
  text-align: center;
  margin-top: 25px;
}
#p1,
#p2 {
  text-indent: -100px;
  margin-bottom: 3px;
}
p + input {
  margin-top: 3px;
}
#p3 {
  margin-top: 5px;
  font-size: 15px;
}

button {
  margin-top: 20px;
  background-color: hotpink;
  color: black;
  border-radius: 30%;
  display: inline-block;
  padding: 15px;
}
button:hover {
  color: hotpink;
  background-color: black;
}
#p1 {
  margin-top: 30px;
}
a {
  text-decoration: none;
}
